<div class="row">
  <div class="col-4">
    <h1> Column 1</h1>
    <p>Random text etc....</p>
  </div>
  <div class="col-4">
    <h1> Column 2</h1>
    <p>Random text etc....</p>
  </div>
  <div class="col-4">
    <h1> Column 2</h1>
    <p>Random text etc....</p>
  </div>
  </div>
<p (mouseover)="sayhello($event)" style="color:{{returncolor()}}"> Send from html</p>

<input type="text" name="" [value]="display">
<button class="btn btn-info" type="button" name="button" [disabled]="disabled">Test button</button>
<p [innerHTML]="displaysth"> </p>
  <app-mainchild></app-mainchild>
